
#img-display-wrap {
	width: 150px;
	height: 150px;
	border: black solid 3px;
	/*margin-top: 5%;*/
	overflow: hidden;
}
#img-display {
	width: 100%;
	height: 100%;
}

#file-upload {
	margin-top: 1.5%;
}

#text-awards-desc {
	margin-top: 3%;
	width:200px;
	height:80px;
}

#text-step-threshold {
	margin-top: 1%;
	width: 80px;
}
#text-cnt-threshold {
	margin-top: 1%;
	width: 80px;
}